.average {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Silka;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.averageNumber {
  font-family: Silka;
  font-weight: bold;
  margin: 0;
  font-size: 64px;
  line-height: 77px;
}
