.temperatureBars {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: stretch;
  gap: 12px 0;
  margin: 0;
}

.temperatureBar {
  flex: 1 1 auto;
}

.bar {
  display: block;
  width: calc(40% + (55% * var(--barValue)));
  height: 15px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
}

@media screen and (min-width: 800px) {
  .temperatureBars {
    flex-direction: row;
    align-items: flex-end;
    gap: 0 2%;
  }

  .bar {
    display: block;
    height: calc(100px + (200px * var(--barValue)));
    width: auto;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
  }
}
