.temperature {
  background: var(--darkBlue);
  color: #fff;
  padding: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .temperature {
    padding: 48px;
  }
}
